body {
	margin:auto;

}

section, h1, label, input {
	margin: auto;
	text-align: center;
}

p {
	text-align: center;
}

#yelp-output {
	margin: auto;
	text-align: center;
}

#map {
	margin: auto;
	height: 400px;
	width: 500px;
}